In [2]:
import pandas as pd
import numpy as np

In [3]:
a = pd.Series(range(1,10))
print(a)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [4]:
b = pd.Series(["I","like","to","use","Python","and","Pandas","very","much"],index=range(0,9))
print(b)

0         I
1      like
2        to
3       use
4    Python
5       and
6    Pandas
7      very
8      much
dtype: object

In [5]:
df = pd.DataFrame({ 'A' : a, 'B' : b })
df

   A       B
0  1       I
1  2    like
2  3      to
3  4     use
4  5  Python
5  6     and
6  7  Pandas
7  8    very
8  9    much

In [6]:
df.head()

   A       B
0  1       I
1  2    like
2  3      to
3  4     use
4  5  Python

In [7]:
df.tail()

   A       B
4  5  Python
5  6     and
6  7  Pandas
7  8    very
8  9    much

In [8]:
df.shape

(9, 2)

In [9]:
df.columns

Index(['A', 'B'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       9 non-null      int64
 1   B       9 non-null      object
dtypes: int64(1), object(1)
memory usage: 272.0+ bytes

In [11]:
df.describe()

              A
count  9.000000
mean   5.000000
std    2.738613
min    1.000000
25%    3.000000
50%    5.000000
75%    7.000000
max    9.000000

In [12]:
print(f"Column A (series):\n{df['A']}")

Column A (series):
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: A, dtype: int64

In [13]:
print(f"Columns B and A (DataFrame):\n{df[['B','A']]}")

Columns B and A (DataFrame):
        B  A
0       I  1
1    like  2
2      to  3
3     use  4
4  Python  5
5     and  6
6  Pandas  7
7    very  8
8    much  9

In [14]:
df[df['A']<5]

   A     B
0  1     I
1  2  like
2  3    to
3  4   use

In [15]:
df[(df['A']>5) & (df['A']<7)]

   A    B
5  6  and

In [16]:
df['DivA'] = df['A']-df['A'].mean()
df

   A       B  DivA
0  1       I  -4.0
1  2    like  -3.0
2  3      to  -2.0
3  4     use  -1.0
4  5  Python   0.0
5  6     and   1.0
6  7  Pandas   2.0
7  8    very   3.0
8  9    much   4.0

In [17]:
df['LenB'] = len(df['B'])

In [18]:
df['LenB'] = df['B'].apply(lambda x: len(x))
df['LenB'] = df['B'].apply(len)
df

   A       B  DivA  LenB
0  1       I  -4.0     1
1  2    like  -3.0     4
2  3      to  -2.0     2
3  4     use  -1.0     3
4  5  Python   0.0     6
5  6     and   1.0     3
6  7  Pandas   2.0     6
7  8    very   3.0     4
8  9    much   4.0     4

In [19]:
df.iloc[:5, :]

   A       B  DivA  LenB
0  1       I  -4.0     1
1  2    like  -3.0     4
2  3      to  -2.0     2
3  4     use  -1.0     3
4  5  Python   0.0     6

In [20]:
df.iloc[:5]

   A       B  DivA  LenB
0  1       I  -4.0     1
1  2    like  -3.0     4
2  3      to  -2.0     2
3  4     use  -1.0     3
4  5  Python   0.0     6

In [21]:
df.iloc[:, :2]

   A       B
0  1       I
1  2    like
2  3      to
3  4     use
4  5  Python
5  6     and
6  7  Pandas
7  8    very
8  9    much

In [22]:
df.groupby(by='LenB') \
 .aggregate({ 'DivA' : len, 'A' : lambda x: x.mean() }) \
 .rename(columns={ 'DivA' : 'Count', 'A' : 'Mean'})

      Count      Mean
LenB
1         1  1.000000
2         1  3.000000
3         2  5.000000
4         3  6.333333
6         2  6.000000

In [23]:
df.groupby(by='LenB').mean()

TypeError: Could not convert I to numeric